@use '../../../variables';

#recent-news {
    .news-container {
        width: 100%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

@media screen and (max-width: 900px) {
    #recent-news {
        .news-container {
            flex-direction: column;
            align-items: center;
        }
    }
}
