@use '../../variables';

.section-hero {
    width: 100%;
    height: calc(100vh - 74px);
    position: relative;

    max-width: 1920px;
    margin: 0 auto;
    .hero-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: hidden;

        .hero-img {
            width: 100%;
            min-width: 100%;
            height: 100%;
            &.hero-img-1 {
                background: url(../../images/hero_bg_1.png) top / cover
                        no-repeat,
                    lightgrey center / cover no-repeat;
            }
            &.hero-img-2 {
                background: url(../../images/hero_bg_2.png) top / cover
                        no-repeat,
                    lightgrey center / cover no-repeat;
            }
            &.hero-img-3 {
                background: url(../../images/hero_bg_3.png) top / cover
                        no-repeat,
                    lightgrey center / cover no-repeat;
            }
            /* &.hero-img-hidden {
                display: none;
            } */
        }
    }

    .hero-interaction-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;

        svg {
            margin-bottom: 32px;
        }

        .get-started-btn {
            display: block;
            color: variables.$color-white-80;
            text-align: center;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            padding: 10px;
            background-color: variables.$color-primary-1;
            width: 429px;
            text-transform: uppercase;
        }
    }
}
