@use '../../variables';

.section-hero {
    width: 100%;
    height: calc(100vh - 74px);
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .hero-corousel-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .hero-img-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.no-translate {
                transform: translateX(0%);
            }
            &.mid-translate {
                transform: translateX(-100%);
            }
            &.end-translate {
                transform: translateX(-200%);
            }

            .hero-img {
                width: 100%;
                min-width: 100%;
                height: 100%;

                @for $i from 1 through 3 {
                    &.hero-img-#{$i} {
                        background: url(../../images/hero_bg_#{$i}.png)
                                top /
                                cover
                                no-repeat,
                            lightgrey center / cover no-repeat;
                    }
                }

                position: relative;
                h1 {
                    position: absolute;
                    font-family: variables.$font-primary;
                    color: variables.$color-pure-white;
                    font-size: 32px;
                    font-weight: 300;
                    span {
                        font-size: 60px;
                        font-weight: 700;
                    }
                }

                &:nth-child(1) {
                    h1 {
                        top: 10%;
                        left: 10%;
                    }
                }
                &:nth-child(2) {
                    h1 {
                        top: 35%;
                        left: 25%;
                    }
                }
                &:nth-child(3) {
                    h1 {
                        bottom: 25%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .hero-interaction-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;

        svg {
            margin-bottom: 32px;
        }

        .get-started-btn {
            display: block;
            color: variables.$color-white-80;
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            padding: 10px;
            background-color: variables.$color-primary-1;
            width: 400px;
            text-transform: uppercase;
        }
    }
}
