@use '../../variables';

.section-about {
    width: 100%;
    // padding: 142px 297px;
    max-width: 1920px;
    margin: 142px auto 209px auto;

    .about-container {
        border-radius: 10px;
        border: 1px solid variables.$color-primary-1;
        background: var(--blue-dark, #070c1f);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 415px;
        width: 1302px;
        margin: auto;
        position: relative;

        .about-description-set {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
        }

        .about-description-set-1 {
            top: -60px;
        }
        .about-description-set-2 {
            top: calc(100% - 60px);
        }

        .description-header-container {
            width: 100%;
            color: variables.$color-pure-white;
            font-family: variables.$font-primary;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 40px; // gap between the description and this

            h1 {
                color: var(--secondary-s2, #fcc96a);
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: relative;
                align-self: center;

                #about-quote {
                    font-size: 24px;
                    position: absolute;
                    top: 0;
                    left: -24px;
                }
            }

            p {
                color: variables.$color-white-80;
                font-family: Poppins;
                text-align: center;
                font-style: normal;
                line-height: normal;
                font-weight: 400;

                &:nth-child(2) {
                    font-size: 20px;
                }
                &:nth-child(3) {
                    font-size: 16px;
                    align-self: center;
                    display: inline-flex;
                    gap: 2px;

                    #apple-icon {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .content-group-contents {
        width: 100%;
    }
}

@media screen and (max-width: 1366px) {
    .section-about {
        .about-container {
            border: none;
            height: auto;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            gap: 10px;

            .description-header-container {
                grid-column: 1 / 3;
                margin: 0 0 40px 0;
            }

            .about-description-set {
                position: unset;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 40px;
            }
            .about-description-set-1 {
                grid-column: 1;
            }
            .about-description-set-2 {
                grid-column: 2;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .section-about {
        .about-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 790px) {
    .section-about {
        .about-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 30px;
            width: 80%;
        }
    }
}

@media screen and (max-width: 625px) {
    .section-about {
        .about-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .section-about {
        .about-container {
            .description-header-container {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .section-about {
        .about-container {
            .description-header-container {
                h1 {
                    font-size: 21px;
                }

                p {
                    &:nth-child(2) {
                        font-size: 14px;
                    }
                    &:nth-child(3) {
                        font-size: 12px;
                        #apple-icon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
