@use '../../variables';

.narrow-nav-bar {
    width: 100%;
    background-color: variables.$color-dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;

    .search-form-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .nav-open-btn {
            font-size: 32px;
            color: variables.$color-pure-white;
            &:hover {
                cursor: pointer;
            }
        }

        .search-form {
            margin-left: 40px;
            border-bottom: 1px solid variables.$color-pure-white;
            width: 422px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .content-search-icon {
                color: variables.$color-pure-white;
                margin-right: 10px;
            }

            #movie-search-input {
                background: none;
                flex-grow: 1;
                color: variables.$color-pure-white;
                font-family: variables.$font-primary;
                min-width: 0;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                }
            }
        }
    }

    .site-logo-link {
        display: inline-block;
        width: 172px;
        img {
            width: 100%;
            display: block;
        }
    }

    .nav-sidebar {
        width: 500px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: variables.$color-dark-blue;
        transition: transform 0.2s linear, opacity 0.2s linear;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;

        &.nav-sidebar-visible {
            opacity: 1;
            transform: translateX(0px);
        }

        &.nav-sidebar-hidden {
            opacity: 1;
            transform: translateX(-510px);
        }

        .nav-close-btn {
            font-size: 32px;
            color: variables.$color-pure-white;

            &:hover {
                cursor: pointer;
            }
        }

        .nav-container {
            width: 100%;
            margin: 20px 0;
            .nav-links {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 40px;

                li {
                    display: inline-block;
                    width: 100%;
                    border-bottom: 1px solid variables.$color-pure-white;
                    .nav-link {
                        display: inline-block;
                        width: 100%;
                        font-size: 20px;
                        font-family: variables.$font-primary;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: variables.$color-pure-white;
                    }
                }
            }
        }
        .account-handle-btn-container {
            flex-grow: 1;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;

            .account-handle-btn {
                width: 100%;
                text-align: center;
                font-family: variables.$font-primary;
                padding: 8px 32px;
                font-size: 22px;
                color: variables.$color-pure-white;
                border-radius: 10px;

                &.account-login-btn {
                    background-color: variables.$color-blue-DA;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .narrow-nav-bar {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .narrow-nav-bar {
        padding: 10px;
        .search-form-container {
            .search-form {
                width: 280px;
            }
        }
        .site-logo-link {
            width: 115px;
        }
    }
}

@media screen and (max-width: 500px) {
    .narrow-nav-bar {
        position: relative;
        .search-form-container {
            .nav-open-btn {
                font-size: 26pxpx;
            }
            .search-form {
                width: 200px;
                margin-left: 20px;
            }
        }

        .nav-sidebar {
            width: 100%;

            &.nav-sidebar-visible {
                transform: translateX(0px);
            }

            &.nav-sidebar-hidden {
                transform: translateX(-100%);
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .narrow-nav-bar {
        .search-form-container {
            .search-form {
                width: 150px;
            }
        }
    }
}
