@use '../../../variables';

#popular-lists {
    .pop-lists-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 1366px) {
    #popular-lists {
        .pop-lists-container {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
