/* GLOBAL FONT */
$font-primary: 'Poppins', sans-serif;

/* COLOR VARIABLES */
// primary colors
$color-primary-1: #3b98df;
$color-primary-2: #42abfc;
$color-primary-3: #3ea3f0;
$color-primary-4: #1d4c70;
$color-primary-5: #2e78b0;

// secondary colors
$color-secondary-s1: #ffca6a;
$color-secondary-s2: #fcc96a;
$color-secondary-s3: #e3b55f;

// light colors
$color-pure-white: #ffffff;
$color-white-80: rgba(255, 255, 255, 0.8);
$color-gray-3: #e3e3e3;
$color-gray-1: #7d7d7d;
$color-gray-80: #c4c4c499;
$color-gray-100: #c4c4c4;
$color-gray-de: #dedede;

// extra colors
$color-red-10: #c21010;
$color-blue-DA: #3096da;
$color-sky-blue: #1a9bd9;
$color-dark-bg: #001e3a;
$color-dark-blue: #070c1f;
$color-dark-black: #000000;
