/* GLOBAL FONT */
$font-primary: 'Poppins', sans-serif;

/* COLOR VARIABLES */
// primary colors
$color-primary-1: #3b98df;
$color-primary-2: #42abfc;
$color-primary-3: #3ea3f0;
$color-primary-4: #1d4c70;
$color-primary-5: #2e78b0;
