.pop-reviewers-container {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (max-width: 1366px) {
    .pop-reviewers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1066px) {
    .pop-reviewers-container {
        grid-template-columns: 1fr;
    }
}
