@use '../../../variables';

#recent-stories {
    .stories-container {
        width: 100%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1160px) {
    #recent-stories {
        .stories-container {
            justify-content: center;
        }
    }
}
